{% extends 'base.html.twig' %}

{% block title %}{% trans %}My Account{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index',
        'Account': 'my_account'
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12"><h1 class="text-primary text-right">{% trans %}My Account{% endtrans %}</h1></div>
        {{ block('Main_informations') }}
    </div>
{% endblock %}

{% block Main_informations %}
    <div class="col-lg-4 col-12">
        <div class="sticky-top bg-light rounded p-4" style="z-index: 10;">
            <p class="text-right mb-0"><a href="{{ path('user_update') }}" class="btn btn-light rounded-circle"><i class="fas fa-pen"></i></a></p>
            <h2 class="text-primary text-center">{% trans with {'%name%': app.user.username} %}Logged as %name%{% endtrans %}</h2>
            <h3 class='mb-0  text-center'>{{ app.user.firstName }} {{ app.user.lastName }}</h3>
            <p class='mb-0 font-weight-bold text-center {% if not app.user.email %}text-muted{% endif %}'>{{ app.user.email ?: "Empty email"|trans }}</p>
            
            {% if app.user.roles|length > 0 %}
                <p class="mb-0 py-2 text-center">
                    {% for role in app.user.roles %}
                        <span class="px-2 py-1 bg-secondary rounded mx-1">{{ role|trans|replace({'_': ' '})|replace({'ROLE': ''})|lower }}</span>
                    {% endfor %}
                </p>
            {% endif %}

            <p class='mb-0 text-center'>
                {% if app.user.team %}
                    <a href="#team_part" class="btn btn-light">{% trans %}My team{% endtrans %} <span class="font-weight-bold">{{ app.user.team.name }}</span></a><br>
                {% endif %}
                <a href="#calendar_part" class="btn btn-light">{% trans %}My calendar{% endtrans %}</a>
                <br>
                <a href="#shedules_part" class="btn btn-light">{% trans %}My schedules{% endtrans %}</a>
                <br>
                <a href="#absences_part" class="btn btn-light">{% trans %}My absences{% endtrans %}</a>
            </p>           
        </div>
    </div>

    <div class="col-lg-8 col-12 pt-lg-4">
        <h2 class="text-secondary line-secondary mb-3" id="calendar_part">
            <span>{% trans %}My calendar{% endtrans %}</span>
        </h2>
        {% include "Calendar/view.html.twig" with {'users': [app.user], 'showUsers': false} %}

        <h2 class="text-secondary line-secondary mb-3 d-flex justify-content-between" id="shedules_part">
            <span>{% trans %}My schedules{% endtrans %}</span>
            <a href="{{ path('new_schedule') }}" class="btn btn-light"><i class="fas fa-pen mr-2"></i>{% trans %}Modify{% endtrans %}</a>
        </h2>

        {% include "User/Account/scheduleView.html.twig" with {'user': app.user} %}

        <h2 class="text-secondary line-secondary mb-3 mt-2 d-flex justify-content-between" id="absences_part">
            <span>{% trans %}My absences{% endtrans %}</span>
            <a href="{{ path('new_absence') }}" class="btn btn-light">{% trans %}Create absence{% endtrans %}</a>
        </h2>
        <div class="">

            <div class="row">
                {% for absence in app.user.absences %}
                    {% if absence.to > 'now'|dateType %}
                        <div class='col-4'>
                            <a href="{{ path('absence_update', {'id': absence.id}) }}" class="btn btn-light btn-block">
                                <p class="text-center text-primary font-weight-bold">{{ absence.type }}</p>
                                <p class="text-dark">{{ absence.from|date('d/m/Y') }} <i class="fas fa-arrow-right"></i> {{ absence.to|date('d/m/Y') }}</p>
                            </a>
                        </div>
                    {% else %}
                        <h3 class="text-muted text-center col-12">{% trans %}No future absence{% endtrans %}</h3>

                        <div class="collapse col-12" id="allAbsences">
                            <p class="text-right">{% trans %}All Absences{% endtrans %}</p>
                            <div class="card card-body bg-light">
                                <div class="row">
                                    <div class='col-8'>
                                        <p class="text-dark mb-0">{{ absence.from|date('d/m/Y') }} <i class="fas fa-arrow-right"></i> {{ absence.to|date('d/m/Y') }}</p>
                                    </div>

                                    <div class='col-4'>
                                        <p class="text-center text-primary font-weight-bold mb-0">{{ absence.type }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text-right">
                            <button role="button" class="btn btn-link" data-toggle="collapse" expanded-txt="{% trans %}Hide{% endtrans %}" collapsed-txt="{% trans %}See all{% endtrans %}" data-target="#allAbsences" aria-expanded="false" aria-controls="allAbsences">{% trans %}See all{% endtrans %}</button>
                        </div>
                    {% endif %}
                {% endfor %}

                

                <div class="col-12 text-right">
                    {% if app.user.absences|length == 0 %}
                        <h3 class="text-muted text-center col-12">{% trans %}No absence created{% endtrans %}</h3>
                    {% endif %}
                </div>
            </div>
            
        </div>

        {% if app.user.team %}
            <h2 class="text-secondary line-secondary mb-3 mt-2 d-flex justify-content-between" id="team_part">
                <span>{% trans with {'%name%': app.user.team.name|upper} %}My Team %name%{% endtrans %}</span>
            </h2>

            <div class="px-4">
                <p class="text-right">{% trans %}Leader{% endtrans %} : <span class="font-weight-bold text-primary">{{ app.user.team.lead.userName }}</span></p>
                {% for user in app.user.team.users %}
                    <div class='row rounded bg-light'>
                        <div class="col-lg-2 col-6 p-2">
                            <p class="mb-0 text-primary font-weight-bold">{{ user.userName }}</p>
                        </div>

                        <div class="col-lg-4 col-6 p-2">
                            <p class="mb-0">{{ user.firstName }} {{ user.lastName }}</p>
                        </div>
                        <div class="col-4 col-lg-4 p-2">
                            <p class="mb-0">{{ user.email }}</p>
                        </div>

                        <div class="col-6 col-lg-2 text-center p-1">
                            <p class="mb-0 text-secondary-reverse bg-secondary p-1 rounded">{{ user.job }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
    </div>
{% endblock %}