{% extends 'base.html.twig' %}

{% block title %}My Account{% endblock %}

{% block body %}
    <div class="w-100">
        <div class="row">
            <div class="col-12"><h1 class="text-primary text-right">My account</h1></div>
            {{ block('Main_informations') }}
        </div>
    </div>
{% endblock %}

{% block Main_informations %}
    <div class="col-sm-4 col-12">
        <div class="sticky-top bg-light rounded p-4" style="z-index: 10;">
            <p class="text-right mb-0"><a href="{{ path('user_update') }}" class="btn btn-light rounded-circle"><i class="fas fa-pen"></i></a></p>
            <h2 class="text-primary text-center">Logged as {{ app.user.username }}</h2>
            <h3 class='mb-0  text-center'>{{ app.user.firstName }} {{ app.user.lastName }}</h3>
            <p class='mb-0 font-weight-bold text-center {% if not app.user.email %}text-muted{% endif %}'>{{ app.user.email ?: "Empty email" }}</p>
            
            {% if app.user.roles|length > 0 %}
                <p class="mb-0 py-2 text-center">
                    {% for role in app.user.roles %}
                        <span class="px-2 py-1 bg-secondary rounded mx-1">{{ role|replace({'_': ' '})|replace({'ROLE': ''})|lower }}</span>
                    {% endfor %}
                </p>
            {% endif %}

            {% if app.user.team %}
                <p class='mb-0 text-center'>
                    My team : <a href="" class="">{{ app.user.team.name }}</a>
                </p>
            {% endif %}

            <p class='mb-0 text-right'><a href="#calendar_part" class="">My calendar</a></p>
            <p class='mb-0 text-right'><a href="#shedules_part" class="">My schedules</a></p>
        </div>
    </div>

    <div class="col-sm-8 col-10 offset-1 offset-sm-0 pt-lg-4">
        <h2 class="text-secondary line-secondary mb-3" id="calendar_part">
            <span>My calendar</span>
        </h2>
        {% include "Calendar/view.html.twig" with {'users': [app.user], 'showUsers': false} %}

        <h2 class="text-secondary line-secondary mb-3 d-flex justify-content-between" id="shedules_part">
            <span>My Schedules</span>
            
        </h2>

        {% include "User/Account/scheduleView.html.twig" with {'user': app.user} %}

        <h2 class="text-secondary line-secondary mb-3 mt-2 d-flex justify-content-between" id="shedules_part">
            <span>My Absences</span>
            
        </h2>
        <div class="">
            <p class="text-right"><a href="{{ path('new_absence') }}" class="btn btn-light">Create absence</a></p>

            <div class="row">
                {% for absence in app.user.absences %}
                    <div class='col-4'>
                        <a href="{{ path('absence_update', {'id': absence.id}) }}" class="btn btn-light btn-block">
                            <p class="text-center text-primary font-weight-bold">{{ absence.type }}</p>
                            <p class="text-dark">{{ absence.from|date('d/m/Y') }} <i class="fas fa-arrow-right"></i> {{ absence.to|date('d/m/Y') }}</p>
                        </a>
                    </div>
                    
                {% endfor %}
            </div>
            
        </div>
    </div>
{% endblock %}