{% extends 'base.html.twig' %}

{% block title %}{% trans %}Create a team{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Admin': 'admin_index',
        'Teams': 'admin_teams',
        "Create new team": ''
        } 
    %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class='row bg-light rounded text-center p-2'>
        <div class="col-12 col-lg-8 offset-lg-2">
            <h1 class="text-primary mb-0">{% trans %}New Team{% endtrans %}</h1>
            <p class='text-muted'>{% trans %}Create new Team, with or without members{% endtrans %}.</p>
        </div>

        {{ form_start(form) }}
        {{ form_end(form) }}
        
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        div.form-check {
            padding: 0 1.25rem;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('form .dropdown-item').on('click', function () {
            var usersAdded =  $("#users input").length;
            $("#users").append($('<input type="hidden" name="user_' + usersAdded++ + '" value="' + $(this).text() + '">'));

            $("#users").append($('<div class="bg-outline-primary text-primary rounded p-2 mx-2">' + $(this).text() + '</div>'));

            $(this).remove();

            var dropdownmenu = $('.dropdown-menu[aria-labelledby="add_user_button"]');

            console.log(dropdownmenu.find('a.dropdown-item'));
            if (dropdownmenu.find('a.dropdown-item').length === 0) {
                
                $('#add_user_button').hide('slow');
            }
        })
    </script>
{% endblock %}