{% extends 'base.html.twig' %}

{% block title %}{% trans %}Create a team{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Admin': 'admin_index',
        'Teams': 'admin_teams',
        "Create new team": ''
        } 
    %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class='row bg-light rounded text-center p-2'>
        <div class="col-12 col-lg-8 offset-lg-2">
            <h1 class="text-primary mb-0">{% trans %}New Team{% endtrans %}</h1>
            <p class='text-muted'>{% trans %}Create new Team, with or without members{% endtrans %}.</p>
        </div>

        <form class="col-12 col-lg-8 offset-lg-2" action='{{ path("admin_teams_create") }}'>
            <label for="name">{% trans %}Name{% endtrans %}</label>
            <input type='string' id="name" name="name" class='form-control'>

            <div class="form-group">
                <label for="selectLead">{% trans %}Select Team leader{% endtrans %}</label>
                <select class="form-control" id="selectLead" name='lead'>
                    {% for user in users %}
                        <option>{{ user.email }}</option>
                    {% endfor %}
                </select>
            </div>

            <label for="description">{% trans %}Description{% endtrans %}</label>
            <textarea name="description" id="description" cols="30" rows="10" class='form-control'></textarea>

            {% if app.user.company %}
                <div class="d-flex justify-content-end mt-2">
                    <div class="dropdown">
                        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="add_user_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-plus mr-2"></i>
                            {% trans %}add user{% endtrans %}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="add_user_button">
                            {% for user in users %}
                                <a class="dropdown-item" href="#">{{ user.email }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="users" class='d-flex justify-content-center'></div>
            {% endif %}
            

            <input class="btn btn-primary mt-2" type="submit">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('form .dropdown-item').on('click', function () {
            var usersAdded =  $("#users input").length;
            $("#users").append($('<input type="hidden" name="user_' + usersAdded++ + '" value="' + $(this).text() + '">'));

            $("#users").append($('<div class="bg-outline-primary text-primary rounded p-2 mx-2">' + $(this).text() + '</div>'));

            $(this).remove();

            var dropdownmenu = $('.dropdown-menu[aria-labelledby="add_user_button"]');

            console.log(dropdownmenu.find('a.dropdown-item'));
            if (dropdownmenu.find('a.dropdown-item').length === 0) {
                
                $('#add_user_button').hide('slow');
            }
        })
    </script>
{% endblock %}