{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin projects{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Admin': 'admin_index',
        'Projects': ''
        } 
    %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="w-100">
        {% if form %}
            <h1 class="text-secondary d-flex justify-content-between">
                {% trans %}Projects list{% endtrans %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createProjectModal">
                    {% trans %}New{% endtrans %}
                </button>
            </h1>

            <!-- Modal -->
            <div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="text-secondary" id="modalTitle">{% trans %}Create Project{% endtrans %}</h5>
                        <button type="button" class="close" title='{% trans %}Close{% endtrans %}' data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                        {{ form_end(form) }}
                    </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h1 class="text-secondary">
                {% trans %}Projects list{% endtrans %}
            </h1>
        {% endif %}

        {% for item in projects %}
            <div class="row align-items-center border rounded px-2 py-1 mb-1 bg-light">
                                
                <div class="col-12 col-lg-10 py-2 px-4 border bg-white rounded">
                    {% for project in item %}
                        <div class="row rounded bg-white border my-1 align-items-center">
                            <a href="{{ path('admin_project_view', {'id': project.id}) }}" class="btn btn-secondary btn-block border border-secondary col-12 col-lg-2 rounded-left rounded-0 align-self-stretch d-flex align-items-center justify-content-center"><span class="font-weight-bold">{{ project.name ?: 'Anonymous'|trans }}</span></a>
                            <p class="mb-0 col-lg-7 col-12 mt-lg-0 mt-2 text-center text-lg-left">{{ project.description ?: 'No description configured'|trans }}</p>

                            {% if project.deadline %}
                                <p class="mb-0 col-12 col-lg-2 text-center py-2 text-secondary">
                                    {% trans with {'%date%': project.deadline|date('d/m/Y')} %}Until %date%{% endtrans %}
                                </p>
                            {% else %}
                                <p class="mb-0 text-center text-secondary py-2 col-12 col-lg-2">
                                    {% trans %}No deadline{% endtrans %}
                                </p>
                            {% endif %}

                            <div class="col-12 col-lg-1 text-lg-right text-center">
                                <a class="btn btn-light" href="{{ path('admin_project_translate', {id: project.id}) }}">
                                    <i class="fa-solid fa-language"></i>
                                </a>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>

                <div class="col-12 col-lg-2 px-2 border-right border-bottom border-top border-lg-left-white border-left bg-white mt-lg-0 mt-2 rounded-right rounded-lg-left-0 rounded-left ml-neg-1 p-2">
                    <a href="{{ path('admin_client_view', {'id': item|current.client.id}) }}" class="text-center btn btn-outline-primary btn-block">
                        {% trans %}Client{% endtrans %} :
                        {{ item|current.client.name ?: 'Anonymous'|trans }} 
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}