{% extends 'base.html.twig' %}

{% block title %}Admin projects{% endblock %}

{% block body %}
    <div class="w-100">
        <h1 class="text-secondary">Projects list</h1>
        {% for project in projects %}
            <div class="row border mb-2 py-2">
                <form action="{{ path('admin_project_update', {'id':  project.id}) }}" class="col-8">
                    <div class="form-group px-2">
                        <label for="project_{{ project.id }}_client_name">Client</label>
                        <input class="form-control text-primary w-100 mb-2" name="clientName" id="project_{{ project.id }}_client_name" placeholder="Anonymous" value="{{ project.client.name }}">

                        <label for="project_{{ project.id }}_name">Project</label>
                        <input class="form-control text-primary w-100" name="projectName"  placeholder="Anonymous" id="project_{{ project.id }}_name" value="{{ project.name }}">

                        <label for="project_{{ project.id }}_description">Description</label>
                        <textarea class='form-control w-100' name="projectDescription" id="">{{ project.description }}</textarea>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-primary btn-block" value="Update">
                    </div>
                </form>

                <div class="col-4 p-2 d-flex flex-column align-items-center">
                    {% for assignation in project.assignations %}
                    
                        <p class="bg-secondary p-2 mb-2 w-100" data-toggle="modal" data-target="#modal_{{ assignation.id }}">
                            {{ assignation.user.username }} start at {{ assignation.startAt|date('d/m/Y') }} for {{ assignation.duration }} days
                        </p>

                        <div class="modal fade" id="modal_{{ assignation.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_{{ assignation.id }}_title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal_{{ assignation.id }}_title">Update assignation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ path('admin_assignation_update', {'id': assignation.id})}}" class="px-2">
                                            <div class="row py-2">
                                                <label for="assignation_{{ assignation.id }}_date" class="col-6">Starting at :</label>
                                                
                                                <input type="date" class="form-control col-6" value="{{ assignation.startAt|date('Y-m-d') }}" id="assignation_{{ assignation.id }}_date" name='startDate'>
                                            </div>
                                            
                                            <div class="row py-2">
                                                <label for="assignation_{{ assignation.id }}_duration" class=" col-6">Duration :</label>
                                                {% include 'Form/assignationNumber.html.twig' with {'value': assignation.duration, 'id': 'assignation_' ~ assignation.id ~ '_duration', 'class': "col-6", 'name': 'duration'} %}
                                            </div>
                                            
                                            <div class="row py-2 justify-content-center">
                                                <input type="submit" value="Update assignation" class="btn btn-primary">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}