{% extends 'base.html.twig' %}

{% block title %}Admin projects{% endblock %}

{% block body %}
    <div class="w-100">
        <h1 class="text-secondary">Projects list</h1>
        {% for project in projects %}
            <div class="row border mb-2 py-2 align-items-center">
                <div class="col-4">
                    <h3 class=""><a href="{{ path('admin_project_view', {'id': project.id}) }}" class="display-5 btn btn-light btn-block">Name : <span class="font-weight-bold text-secondary">{{ project.name ?: 'Anonymous' }}</span></a></h3>
                    <p class=""><a href="{{ path('admin_client_view', {'id': project.client.id}) }}" class="btn btn-light btn-block">Client : <span  class="font-weight-bold text-primary">{{ project.client.name ?: 'Anonymous' }}</span></a><p>
                </div>

                <div class="col-4">
                    <p class="text-muted">{{ project.description }}<p>
                </div>

                <div class="col-4 p-1 d-flex flex-column align-items-center">
                    {% for assignation in project.assignations %}
                    
                        <p class="bg-secondary rounded p-1 mb-1 w-100">
                            <span  data-toggle="modal" data-target="#modal_{{ assignation.id }}">{{ assignation.user.username }} start at {{ assignation.startAt|date('d/m/Y') }} for {{ assignation.duration }} days</span>
                            
                            <a class="btn btn-secondary text-dark" href="{{ path('admin_user_view', {id: assignation.user.id}) }}">
                                <i class="fas fa-user fa-xs"></i>
                            </a>
                        </p>
                        

                        <div class="modal fade" id="modal_{{ assignation.id }}" tabindex="-1" role="dialog" aria-labelledby="modal_{{ assignation.id }}_title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal_{{ assignation.id }}_title">Update assignation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ path('admin_assignation_update', {'id': assignation.id})}}" class="px-2">
                                            <div class="row py-2">
                                                <label for="assignation_{{ assignation.id }}_date" class="col-6">Starting at :</label>
                                                
                                                <input type="date" class="form-control col-6" value="{{ assignation.startAt|date('Y-m-d') }}" id="assignation_{{ assignation.id }}_date" name='startDate'>
                                            </div>
                                            
                                            <div class="row py-2">
                                                <label for="assignation_{{ assignation.id }}_duration" class=" col-6">Duration :</label>
                                                {% include 'Form/assignationNumber.html.twig' with {'value': assignation.duration, 'id': 'assignation_' ~ assignation.id ~ '_duration', 'class': "col-6", 'name': 'duration'} %}
                                            </div>
                                            
                                            <div class="row py-2 justify-content-center">
                                                <input type="submit" value="Update assignation" class="btn btn-primary">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}