{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin project view{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Admin': 'admin_index',
        'Projects': 'admin_projects',
        "Project view": ''
        } 
    %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class='py-4 px-4 bg-light rounded'>
        <p class="text-end">
            <a href="" class="btn btn-light" title="{% trans %}Translate{% endtrans %}"><i class="fas fa-language"></i></a>
        </p>
        <h1 class='text-secondary'>{% trans with {'%name%': form.vars.data.name ?: "Anonymous"|trans} %}Project %name% informations{% endtrans %}</h1>

        {{ form_start(form) }}
            {{ form_row(form.name)}}
            {{ form_row(form.client)}}
            <p><a href="{{ path('admin_client_view', {'id': form.vars.data.client.id}) }}">{% trans with {'%name%': form.vars.data.client.name} %}Go client %name% view{% endtrans %}</a></p>
            {{ form_row(form.description)}}
            <div class="">
                {% for assignation in form.vars.data.assignations %}
                    <p class="bg-secondary p-2 rounded">
                        <a class="btn btn-link mb-1 py-0 text-secondary-reverse rounded-pill" href="{{ path('admin_user_view', {id: assignation.user.id}) }}">
                            {{ assignation.user.username }}
                        </a>
                        {% trans %}From{% endtrans %}
                        <span class="font-weight-bold">{{ assignation.startAt|date('d/m/Y') }} {{ assignation.halfDay }}</span>
                            {% trans %}For{% endtrans %}
                        <span class="font-weight-bold">{{ assignation.duration }}</span>
                            {% trans %}Days as{% endtrans %}
                        <span class="font-weight-bold">{{ assignation.user.job|trans }}</span>
                    </p>
                {% endfor %}
            </div>

            {{ form_row(form.deadline)}}

            <h3 class="text-primary">{% trans %}Hours sold{% endtrans %}</h3>
            <ul 
                class="Hours list-group"
                data-parent="{{ form.vars.data.id }}"
                data-index="{{ form.hoursSold|length > 0 ? form.hoursSold|last.vars.name + 1 : 0 }}"
                data-prototype="{{ form_widget(form.hoursSold.vars.prototype)|e('html_attr') }}"
            >
                {% if form.hoursSold|length > 0 %}
                    <li class="list-group-item">
                    {{ form_widget(form.hoursSold) }}
                </li>
                {% endif %}
                
            </ul>

            <div class="d-flex justify-content-end">
                <button type="button" class="add_item_link btn btn-outline-dark my-2" data-collection-holder-class="Hours">{% trans %}Add hours{% endtrans %}</button>
            </div>
            
        {{ form_end(form) }}
    </div>
{% endblock %}