{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin project view{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Admin': 'admin_index',
        'Projects': 'admin_projects',
        "Project view": ''
        } 
    %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class='py-4 px-4 bg-light rounded'>
        <h1 class='text-secondary'>{% trans with {'%name%': form.vars.data.name ?: "Anonymous"|trans} %}Project %name% informations{% endtrans %}</h1>

        {{ form_start(form) }}
            {{ form_row(form.name)}}
            {{ form_row(form.client)}}
            <p><a href="{{ path('admin_client_view', {'id': form.vars.data.client.id}) }}">{% trans with {'%name%': form.vars.data.client.name} %}Go client %name% view{% endtrans %}</a></p>
            {{ form_row(form.description)}}
            <div class="">
                {% for assignation in form.vars.data.assignations %}
                    <p class="bg-secondary p-2 rounded">
                        <a class="btn btn-link mb-1 py-0 text-secondary-reverse rounded-pill" href="{{ path('admin_user_view', {id: assignation.user.id}) }}">
                            {{ assignation.user.username }}
                        </a>
                        {% trans %}From{% endtrans %}
                        <span class="font-weight-bold">{{ assignation.startAt|date('d/m/Y') }} {{ assignation.halfDay }}</span>
                            {% trans %}For{% endtrans %}
                        <span class="font-weight-bold">{{ assignation.duration }}</span>
                            {% trans %}Days as{% endtrans %}
                        <span class="font-weight-bold">{{ assignation.user.job|trans }}</span>
                    </p>
                {% endfor %}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}