{% extends 'base.html.twig' %}

{% block title %}Admin project {{ form.vars.data.name ?: "Anonymous" }}{% endblock %}

{% block body %}
    <div class='py-4 px-4 bg-light rounded'>
        <h1 class='text-secondary'>{{ form.vars.data.name ?: "Anonymous" }} informations</h1>

        {{ form_start(form) }}
            {{ form_row(form.name)}}
            {{ form_row(form.client)}}
            <p><a href="{{ path('admin_client_view', {'id': form.vars.data.client.id}) }}">Go client {{ form.vars.data.client.name }} view</a></p>
            {{ form_row(form.description)}}
            <div class="">
                {% for assignation in form.vars.data.assignations %}
                    <p class="bg-secondary p-2 rounded">
                        <span  class="font-weight-bold">{{ assignation.user.username }}</span> 
                        <a class="btn btn-secondary rounded-pill" href="{{ path('admin_user_view', {id: assignation.user.id}) }}">
                            <i class="fas fa-user fa-xs"></i>
                        </a>
                            from 
                        <span class="font-weight-bold">{{ assignation.startAt|date('d/m/Y') }} {{ assignation.halfDay }}</span>
                            for 
                        <span class="font-weight-bold">{{ assignation.duration }}</span>
                            days as 
                        <span class="font-weight-bold">{{ assignation.user.job }}</span>
                    </p>
                {% endfor %}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}