<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}

            <!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/> -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
            <script src="https://kit.fontawesome.com/266324d9f9.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
            <link rel="icon" type="image/png" href="{{ asset("pics/favicon.png") }}">
            <link rel="stylesheet" href='{{ asset("css/style.css") }}'>
            <link rel="stylesheet" href='{{ asset("css/fonts.css") }}'>
        {% endblock %}

    </head>
    <body class="container mt-5 pt-5 grid">
        {% include "Partials/header.html.twig" %}

        <div id="alert_container" >
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}" style="">
                        {{ message|raw }}

                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            {% include "Partials/admin_menu.html.twig" %}
        {% endif %}

        {% block breadcrumb %}
            {% include "Partials/breadcrumb.html.twig" %}
        {% endblock %}

        {% block body %}{% endblock %}
        
    </body>

    {% block javascripts %}
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="https://kit.fontawesome.com/266324d9f9.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            $(document).on('ready', function() {
                
                $(".alert").animate({ opacity: '1', right: "-=50"}, 500);

            })

            $('.alert').on('click', function() {
                removeAlert($(this).closest('.alert'));
            })

             setTimeout(removeAlerts, 15000);

            function removeAlerts() {
                 $(".alert").each(function() {
                    removeAlert(this);
                 })
            }
            function removeAlert(element) {
                $(".alert").animate({opacity: '0', right: "0"}, 500).hide('slow');
            }

            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy"
            });

            function scrollToId() {
                const container = document.getElementById(`calendar`);
                const section = document.getElementById(`today`);

                if (container !== null && section !== null) {
                    let destination = (container.getBoundingClientRect().width - section.getBoundingClientRect().left) *-1;
                    console.log(section.getBoundingClientRect().left);
                    container.scrollLeft += section.getBoundingClientRect().left;
                }
            }

            $('#calendar').on('scroll', function() {
                const container = document.getElementById("calendar");
                const section = document.getElementById(`today`);
                
            })

            $('.calendar-project button[assign-target]').on('click', function (){
                $(this).closest('.calendar-project').find('.form-group').hide();

                $('.form-group' + $(this).attr('assign-target') + '').show();
            })

            $('.duration-input-number i').on('click', function () {
                
                if ($(this).hasClass('fa-minus')) {
                    let input = $(this).closest('.duration-input-number').find('input[type="text"]');
                    input.val(parseFloat(input.val()) - 0.5);

                    console.log(input.val());
                }

                if ($(this).hasClass('fa-plus')) {
                    let input = $(this).closest('.duration-input-number').find('input[type="text"]');
                    input.val(parseFloat(input.val()) + 0.5);
                }
            })

            $('.moment span.btn-sm').on('click', function () {
                console.log(this);
                $('.moment span.btn-primary').removeClass('btn-primary').removeClass('disabled').addClass('text-primary').addClass('btn-light');
                $(this).closest('.calendar_head').find('form input[name="startDate"]').val($(this).attr('date-value'));
                $(this).closest('.calendar_head').find('form input[name="halfDay"]').val($(this).attr('half-day'));
                $(this).removeClass('btn-light').addClass('btn-primary').addClass('disabled').removeClass('text-primary');
                $(this).closest('.calendar_head').find('form .duration-number').show('slow');
                $(this).closest('.calendar_head').find('form select[name="client"]').show();
            })

            $('select[name="project"]').on('change', function () {
                if ($(this).val() !== '') {
                    $(this).closest('form').find('select[name="client"]').hide();
                } else {
                    $(this).closest('form').find('select[name="client"]').show();
                }
            })

             $('#toggleUsers').on('click', function () {
                $('.calendar-user').toggle();
                if ($('.calendar-user')[0].style.display === "none") {
                    $(this).find('.fa-eye-slash').hide();
                    $(this).find('.fa-eye').show('slow');
                } else {
                    $(this).find('.fa-eye').hide();
                    $(this).find('.fa-eye-slash').show('slow');
                }
            })

            $(document).on('ready', function() {
                if ($('.calendar-user').length > 0) {
                    if ($('.calendar-user')[0].style.display === "none") {
                        $(this).find('.fa-eye-slash').hide();
                        $(this).find('.fa-eye').show('slow');
                    } else {
                        $(this).find('.fa-eye').hide();
                        $(this).find('.fa-eye-slash').show('slow');
                    }
                }
            })
            
            //No easing
            function constant (duration, range, current) {
                return duration / range;
            }

            //Linear easing
            function linear (duration, range, current) {
                return ((duration * 2) / Math.pow(range, 2)) * current;
            }

            //Quadratic easing
            function quadratic (duration, range, current) {
                return ((duration * 3) / Math.pow(range, 3)) * Math.pow(current, 2);
            }

            function animateValue(element, start, duration, easing) {
                
                var end = parseInt(element.text(), 10);
                
                var range = end - start;
                var current = start;
                var increment = end > start ? 1 : 0;

                var obj = element;  
                var startTime = new Date();
                var offset = 1;
                var remainderTime = 0;
                console.log(increment);
                var step = function() {
                    current += increment;
                    element.text(current);
                    
                    if (current !== end) {
                        setTimeout(step, easing(duration, range, current));
                    }
                    else {
                        
                    }
                };
                
                setTimeout(step, easing(duration, range, start));
            }

            if ($('.animate-number').length > 0) {
                $('.animate-number').each(function() {
                    animateValue($(this), 0, 1000, linear);
                })
                
            }
        </script>
    {% endblock %}
</html>
