<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{ asset("Pics/favicon.png") }}">
            <!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/> -->
            <link rel="stylesheet" href="{{ asset('bootstrap-5.3.3-dist/css/bootstrap.min.css')}}" crossorigin="anonymous">
            <script src="https://kit.fontawesome.com/266324d9f9.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
            <link rel="stylesheet" href='{{ asset("css/style.css") }}'>
            <link rel="stylesheet" href='{{ asset("css/fonts.css") }}'>
        {% endblock %}

    </head>
    <body class="container mt-5 grid align-items-center">
        <div id="loader">
            <div class="text-center text-muted">
                <div id="spinner-container">
                    <span class="spinner mx-auto"></span>
                </div>
                
                <p class='text-center font-weight-bold'>
                    {% trans %}Loading{% endtrans %}...
                </p>
            </div>
        </div>

        {% include "Partials/header.html.twig" %}

        <div id="alert_container" class='pt-2'>
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">

                        <p class="mb-0">
                            {% if type == 'success' %}
                                <i class="fas fa-thumbs-up fa-lg fa-lg mr-2"></i>
                            {% elseif type == 'danger' %}
                                <i class="fas fa-skull-crossbones fa-lg mr-2"></i>
                            {% elseif type =="warning" %}
                                <i class="fas fa-exclamation-triangle fa-lg mr-2"></i>
                            {% elseif  type =="info" %}
                                <i class="fas fa-info-circle fa-lg mr-2"></i>
                            {% endif %}
                        
                            {{ message|trans|raw }}
                            <button type="button" class="btn-close ms-4 py-2 px-1" data-bs-dismiss="alert" aria-label="Close"></button>
                        </p>

                        
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            {% include "Partials/admin_menu.html.twig" %}
        {% endif %}

        {% block breadcrumb %}
            {% include "Partials/breadCrumb.html.twig" %}
        {% endblock %}
        
        <div class="h-100">
            {% block body %}{% endblock %}

            {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.company %}
                {% include "tchat/index.html.twig" %}
            {% endif %}

            
        </div>

        {% include "Partials/footer.html.twig" %}
    </body>

    {% block javascripts %}
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="https://kit.fontawesome.com/266324d9f9.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{{ asset('bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        <script>
            
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if app.user.company and app.user.company.calendarConfigurations and app.user.company.calendarConfigurations.activeTchat %}
                    function countMessages() {
                        $.ajax({
                            url: "{{ path('chat_room_messages_count') }}",
                            method: "GET"
                            })
                        .done(function(data) {
                            var total = 0;

                            let userId = {{ app.user ? app.user.id : null}};

                            for (key in data) {

                                var roomData = data[key];

                                total = total + roomData.length;
                                
                                var tchatButton = $('.tchat-room [room-id="' + key + '"] button.tchat');

                                var counter = tchatButton.find('.room-messages');

                                var room = $('.room-messenger#messenger_' + key);

                                for (roomKey in roomData) {
                                    
                                    let messageData = roomData[roomKey];

                                    console.log(messageData);
                                    if ($('.messages [message-id="' + messageData.id + '"]').length === 0) {
                                        var message = document.createElement("div");
                                        $(message).addClass('ml-2');

                                        if (userId === messageData.author.id) {
                                            $(message).addClass('my-message');
                                        } else {
                                            $(message).addClass('distant-message');
                                        }

                                        var small = document.createElement("small");
                                        $(small).text(messageData.createdAt.hour);

                                        console.log(messageData);

                                        var author = document.createElement("p");
                                        $(author).addClass('mb-0');
                                        $(author).text(messageData.author.username);
                                        $(author).append(small);

                                        var text = document.createElement("p");
                                        $(text).addClass('content');
                                        $(text).html(messageData.content);
                                        
                                        var br = document.createElement("br");
                                        message.append(author);
                                        message.append(br);
                                        message.append(text);

                                        $(message).attr('message-id', messageData.id);

                                        room.find('.messages').append(message);
                                    }
                                    
                                }

                                if(roomData > 0) {
                                    if(counter.length > 0) {
                                        counter.text(roomData);
                                    } else {
                                        tchatButton.append('<span class="room-messages">' + roomData + '</span>')
                                    }
                                } else {
                                    tchatButton.find('.room-messages').remove();
                                }
                                
                            }
                            var badge = $('#tchatMenu .room-messages');

                            if(total > 0) {
                                if (badge.length === 0) {
                                    $('#tchatMenu').append('<span class="room-messages">' + total + '</span>');
                                } else {
                                    badge.text(total);
                                }
                            } else {
                                $('#tchatMenu .room-messages').remove();
                            }
                            
                        });
                    
                    }
                    setInterval(countMessages, 5000);
                {% endif %}
            {% endif %}
            
        </script>
    {% endblock %}
</html>
