{% if month is not defined %}
    {% set month = null %}
{% endif %}

{% if year is not defined %}
    {% set year = null %}
{% endif %}

{% set dates = period(month, year) %}
{% set today = 'now'|date('d/m/Y') %}
{% set timestamp = 'now'|date('u') %}

{% if newProject is not defined %}
    {% set newProject = false %}    
{% endif %}

{% if showUsers is not defined %}
    {% set showUsers = true %}
{% endif %}

<div class=''>
    
    <div class="d-flex justify-content-center align-items-center">
        <div class="w-100">
            <div id="calendar" class="scroll-x">
                <div class="d-flex head">
                    {% if showUsers %}
                        <section class="calendar-user border-bottom col-2">
                        </section>
                    {% endif %}
                    <div class='px-0'>
                        <div class="d-flex calendar_head pl-2">
                            <section class="calendar-project sticky-left bg-white">&nbsp</section>

                            <div class="calendar_dates d-flex">
                                {% for date in dates %}
                                    <div {% if today == date|date('d/m/Y') %}id='today' title="{% trans %}Today{% endtrans %}" {% endif %} class="head-date border-left {% if loop.index != dates|length %}border-right{% endif %} {% if today == date|date('d/m/Y') %} bg-secondary {% endif %} poiret position-relative">
                                        
                                        <section title='{{ date|date('l j M Y') }}'>
                                            <span>{{ date|date('j') }}</span>
                                        </section>
                                        <section class="moment">
                                            <span class='border-right'>AM</span>
                                            <span class=''>PM</span>
                                        </section>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    {% for user in users %}
                        <div class='d-flex'>

                            {% if showUsers %}
                                <section class="calendar-user col-2 border-right border-top">
                                    <div class='d-flex align-items-center justify-content-center h-100'>
                                        <div class="text-wrap">
                                            <p class="text-center text-primary font-weight-bold mb-0">{{ user.username }}</p>
                                            <p class="text-center text-muted font-weight-bold mb-0 ">{{ user.job }}</p>
                                        </div>
                                    </div>
                                </section>
                            {% endif %}
                            
                            {% set assigned = [] %}
                            {% set shown = false %}
                            <div class="px-0">
                                <div class='pl-2'>
                                    {% for assignation in user.assignations %}
                                        {% if assignation.project %}
                                            {#{% set assigned = assigned|merge([assignation.project.id]) %}#}
                                            {% set counter = assignation|calculateCounter(month, year) %}
                                            
                                            {% if counter < assignation.duration %}
                                                {% set shown = true %}
                                                <div class="d-flex calendar_head">
                                                    <div class="calendar-project sticky-left border-right bg-white px-2">
                                                        {% if is_granted('ROLE_TEAM_MANAGER') or is_granted('ROLE_COMPANY_LEADER') %}
                                                            <!-- <h4 class="text-center text-secondary font-weight-bold mb-0">{{ assignation.project.name ?: 'No name' }}</h4> -->
                                                            <form class="form-inline justify-content-end align-items-center w-100">
                                                                <div class='w-75 d-flex align-items-center'>
                                                                    <section>
                                                                        <label class="w-100" for="assignation_name_{{ assignation.project.name }}">
                                                                            <input id="assignation_name_{{ assignation.project.name }}" name='name' placeholder="Project name" class="text-secondary w-100 form-txt font-weight-bold" type="text" value="{{ assignation.project.name }}"></input>
                                                                        </label>
                                                                        {% if assignation.project.client %}
                                                                            <p class="text-muted font-weight-bold mb-0 w-100">{{( assignation.project.client.name ?: '')|capitalize }}</p>
                                                                        {% endif %}
                                                                    </section>
                                                                </div>
                                                                <div class='w-25 text-right'>
                                                                    <button type="submit" name='action' value='rename' title="{% trans %}Validate rename{% endtrans %}" class="btn btn-primary"><i class="fas fa-pen fa-xs"></i></button>
                                                                    
                                                                    {% if year and month %}
                                                                        <a class="btn btn-light" title="delete assignation" href="{{ path('app_calendar_assignation_delete', {'year': year, 'month': month, 'id': assignation.id}) }}"><i class="fas fa-trash-alt fa-xs"></i></a>
                                                                    {% else %}
                                                                        <a href="{{ path('app_calendar_assignation_base_delete', {'id': assignation.id})}}" class="btn btn-light"><i class="fas fa-trash-alt fa-xs"></i></a>
                                                                    {% endif %}
                                                                </div>
                                                                
                                                                <input type="hidden" name='project' value='{{ assignation.project.id }}'>
                                                            </form>
                                                            
                                                        {% else %}
                                                            <h4 class="text-secondary">{{ assignation.project.name|trans ?: assignation.project.id }}</h4>
                                                            <p>{{ assignation.project.client.name }}</p>
                                                        {% endif %}
                                                    </div>

                                                    {% set isStarted = false %}
                                                    {% for date in dates %}
                                                        {% set wkn = user.isWorking(date|date('d/m/Y')) %}
                                                        <div class='head-date border-left {% if loop.index != dates|length %}border-right{% endif %}'>
                                                            <section class='moment h-100'>
                                                                {% for key, demiDay in user|isWorking(date)[date|date('l')] %}
                                                                    {% set title =  ('User'|trans ~ " : " ~ user.username ~ '\n' ~ 'Project'|trans ~ ' : ' ~ assignation.project.name ?: '' ~ '\n' ~ 'Client'|trans ~' : ' ~ assignation.project.client.name ~ '\n' ~ 'Description'|trans ~ ' : ' ~  assignation.project.description)|raw  %}
                                                                    {% if wkn != false and demiDay %}
                                                                        {% set title =  (wkn.type|trans ~ '\n' ~ 'From'|trans ~ ' ' ~ wkn.from|date('d/m/Y') ~ ' ' ~ 'To'|trans ~ ' ' ~ wkn.to|date('d/m/Y'))  %}
                                                                        <span class='border-right bg-warning' title="{{ title }}"></span>
                                                                    {% elseif counter < assignation.duration and demiDay %}
                                                                        
                                                                        {% if date|date('Y/d/m') >= assignation.startAt|date('Y/d/m') and (demiDay or isStarted == true) %}
                                                                            {% set counter = counter + 0.5 %}
                                                                            {% set isStarted = true %}
                                                                            {% set title = 'Days count'|trans ~ ' : ' ~ counter ~ "\n" ~ title %}
                                                                            {% if assignation.project.deadline and date|date('Y/m/d') > assignation.project.deadline|date('Y/m/d') %}
                                                                                <span class='border-right bg-danger' title="{{ title|raw }}" data-toggle="modal" data-target="#modal_update_assignation_{{ assignation.id }}">&nbsp</span>
                                                                            {% else %}
                                                                                <span class='border-right bg-primary' title="{{ title|raw }}" data-toggle="modal" data-target="#modal_update_assignation_{{ assignation.id }}">&nbsp</span>
                                                                            {% endif %}
                                                                            
                                                                        {% else %}
                                                                            <span class='border-right{% if today == date|date('d/m/Y') %} bg-secondary{% endif %}' title="{{ title }}">&nbsp</span>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        
                                                                        {% if not demiDay %}
                                                                            <span class='bg-grey {% if loop.index != dates|length and key == "AM" %}border-right{% endif %}'>&nbsp</span>
                                                                        {% else %}
                                                                            <span class='{% if loop.index != dates|length and key == "AM" %}border-right{% endif %}'>&nbsp</span>
                                                                        {% endif %}
                                                                        
                                                                    {% endif %}
                                                                    
                                                                {% endfor %}
                                                            </section>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                            {% if is_granted('ROLE_TEAM_MANAGER') or is_granted('ROLE_COMPANY_LEADER')  %}
                                                <!-- Modal -->
                                                <div class="modal fade" id="modal_update_assignation_{{ assignation.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">{% trans %}Update assignation informations{% endtrans %}</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label=">{% trans %}Close{% endtrans %}">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form class="text-center" method="POST">
                                                                    <input type="hidden" value="{{ assignation.id}}" name="assignation_id">
                                                                    
                                                                    <label for="start_date_{{ assignation.id}}">{% trans %}Start at{% endtrans %}</label>
                                                                    <input type="text" id="start_date_{{ assignation.id}}" name="startDate" value="{{ assignation.startAt|date('d/m/Y') }}" class="datepicker form-control text-center">

                                                                    {% set durationId = 'assignation_duration_' ~ assignation.id %}
                                                                    <label for="{{ durationId }}" class='mt-2'>{% trans %}Duration{% endtrans %}</label>
                                                                    {% include 'Form/assignationNumber.html.twig' with {'value': assignation.duration, 'id': durationId, 'class': "duration-number col-12", 'name': 'duration', 'hidden': false} %}

                                                                    <div class="row justify-content-center mt-2">
                                                                        <div class="col-auto">
                                                                            <input type="radio" {% if assignation.halfDay == 'AM' or assignation.halfDay == '' %}checked{% endif %} id="AM_{{ assignation.id}}" class='form-check-input' name="halfDay" value="AM">
                                                                            <label for="AM_{{ assignation.id}}">AM</label>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <input type="radio" {% if assignation.halfDay == 'PM' %}checked{% endif %} id="PM_{{ assignation.id}}" class='form-check-input' name="halfDay" value="PM">
                                                                            <label for="PM_{{ assignation.id}}">PM</label>
                                                                        </div>
                                                                    </div>

                                                                    <button type="submit" class="btn btn-primary mt-2" name="action" value="Update">
                                                                        {% trans %}Update{% endtrans %}
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}

                                    {% if not shown %}
                                        <div class="d-flex calendar_head">
                                            <div class="calendar-project">
                                                <p class="text-muted text-center">{% trans %}Empty project{% endtrans %}</p>
                                                <p class="mb-0">&nbsp</p>
                                            </div>

                                            {% for date in dates %}
                                                <div class='head-date border-left border-right'>
                                                    <section class='moment h-100'>
                                                        <span class='border-right {% if user|isWorking(date)[date|date("l")].AM  == false %}bg-grey{% elseif today == date|date('d/m/Y') %}bg-secondary{% endif %}'></span><span class="{% if user|isWorking(date)[date|date("l")].PM  == false %}bg-grey{% elseif today == date|date('d/m/Y') %}bg-secondary{% endif %}"></span>
                                                    </section>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            
                                <div class='pl-2'>
                                    {% if (is_granted('ROLE_TEAM_MANAGER') or is_granted('ROLE_COMPANY_LEADER')) and newProject %}
                                        <div class="d-flex calendar_head">
                                            <section class="calendar-project sticky-left border-right bg-white py-2 d-flex">
                                                <form action="" method='POST' class="pr-2 w-100">
                                                    {% include 'Form/assignationNumber.html.twig' with {'value': 1, 'id': '', 'class': "duration-number col-12", 'name': 'duration', 'hidden': true} %}

                                                    <div class="form-group mb-0" id="selectProjectForm_{{ user.id }}">
                                                        <select name='project' class="form-select form-control mb-1" style="">
                                                            <option selected value=''>{% trans %}select project{% endtrans %}</option>
                                                            {% for client in clients %}
                                                                {% for project in client.projects %}
                                                                    {% if project.id not in assigned %}
                                                                        <option value="{{ project.id }}">{{ client.name ?: "Unknown" }} - {{ project.name ?: project.id }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </select>

                                                        <button type="submit" class="btn btn-primary btn btn-block" name="action" value="select">{% trans %}Assign{% endtrans %}</button>
                                                    </div>

                                                    <div class="form-group mb-0" id="newProjectForm_{{ user.id }}" style="display: none;">
                                                        <select name='client' class="form-select form-control mb-1">
                                                            <option selected value=''>{% trans %}Select client{% endtrans %}</option>
                                                            {% for client in clients %}
                                                                <option value="{{ client.id }}">{{ client.name ?: "Unknown" }}</option>
                                                            {% endfor %}
                                                        </select>

                                                        <button type="submit" class="btn btn-primary btn-block" name="action" value="new">{% trans %}Select{% endtrans %}</button>
                                                    </div>
                                                    <input type="hidden" name="startDate">
                                                    <input type="hidden" value="" name="halfDay">
                                                    <input type="hidden" name='user' value="{{ user.id }}">
                                                    
                                                </form>

                                                <div class='px-1'>
                                                    <button class="btn btn-primary btn-block" title="{% trans %}new project{% endtrans %}" type="button" assign-target="#newProjectForm_{{ user.id }}" aria-expanded="true" aria-controls="newProjectForm"><i class="fas fa-plus"></i></button>
                                                    <button class="btn btn-primary btn-block" title="{% trans %}select project{% endtrans %}" type="button" assign-target="#selectProjectForm_{{ user.id }}" aria-expanded="false" aria-controls="selectProjectForm"><i class="far fa-object-group"></i></button>
                                                </div>
                                            </section>

                                            {% for date in dates %}
                                                <div class='head-date border-left border-right'>
                                                    <section class='moment h-100'>
                                                        {% if user|isWorking(date)[date|date("l")].AM  == false %}
                                                            <span class='border-right bg-grey'>&nbsp</span>
                                                        {% elseif user.isWorking(date|date("d/m/Y")) != false %}
                                                            <span class='border-right btn btn-warning rounded-0'>&nbsp</span>
                                                        {% elseif today == date|date('d/m/Y') %}
                                                            <span class='border-right btn btn-light text-primary btn-sm rounded-0' half-day="AM" date-value="{{ date|date('d/m/Y') }}"><i class="fas fa-plus"></i></span>
                                                        {% else %}
                                                            <span class='border-right btn btn-light text-primary btn-sm rounded-0' half-day="AM" date-value="{{ date|date('d/m/Y') }}"><i class="fas fa-plus"></i></span>
                                                        {% endif %}

                                                        {% if user|isWorking(date)[date|date("l")].PM  == false %}
                                                            <span class='border-right bg-grey'>&nbsp</span>
                                                        {% elseif user.isWorking(date|date("d/m/Y")) != false %}
                                                            <span class='border-right btn btn-warning rounded-0'>&nbsp</span>
                                                        {% elseif today == date|date('d/m/Y') %}
                                                            <span class='border-right btn btn-light text-primary btn-sm rounded-0' half-day="PM" date-value="{{ date|date('d/m/Y') }}"><i class="fas fa-plus"></i></span>
                                                        {% else %}
                                                            <span class='border-right btn btn-light text-primary btn-sm rounded-0' half-day="PM" date-value="{{ date|date('d/m/Y') }}"><i class="fas fa-plus"></i></span>
                                                        {% endif %}
                                                    </section>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="d-flex pt-2 justify-content-end legend">
                <p class="mr-2"><i class="border mr-2">&nbsp</i>{% trans %}Available{% endtrans %}</p>
                <p class="mr-2"><i class="bg-primary border border-primary mr-2">&nbsp</i>{% trans %}On project{% endtrans %}</p>
                <p class="mr-2"><i class="bg-warning border border-warning mr-2">&nbsp</i>{% trans %}Off{% endtrans %}</p>
                <p class="mr-2"><i class="bg-danger border border-danger mr-2">&nbsp</i>{% trans %}Outdated{% endtrans %}</p>
                <p class="mr-2"><i class="bg-grey border mr-2">&nbsp</i>{% trans %}Unavailable{% endtrans %}</p>
                <p class="mr-2"><i class="bg-secondary border mr-2">&nbsp</i>{% trans %}Current date{% endtrans %}</p>
            </div>
        </div>
    </div>
</div>