{% if month is not defined %}
    {% set month = null %}
{% endif %}

{% if year is not defined %}
    {% set year = null %}
{% endif %}

{% set dates = period(month, year) %}
{% set today = 'now'|date('d/m/Y') %}
{% set timestamp = 'now'|date('u') %}

{% if newProject is not defined %}
    {% set newProject = false %}    
{% endif %}

{% if showUsers is not defined %}
    {% set showUsers = true %}
{% endif %}

<div class=''>
    
    <div class="d-flex justify-content-center align-items-center">
        <div class="w-100">
            <div id="calendar" class="scroll-x">
                <div class="row head">
                    {% if showUsers %}
                        <section class="calendar-user border-bottom col-2">
                        </section>
                    {% endif %}
                    <div class='col-10 px-0'>
                        <div class="d-flex calendar_head">
                            <section class="calendar-project">&nbsp</section>

                            <div class="calendar_dates d-flex">
                                {% for date in dates %}
                                    <div {% if today == date|date('d/m/Y') %}id='today' title="Today" {% endif %} class="head-date border-left {% if loop.index != dates|length %}border-right{% endif %} {% if today == date|date('d/m/Y') %} bg-secondary {% endif %} poiret position-relative">
                                        
                                        <section title='{{ date|date('l j M Y') }}'>
                                            <span>{{ date|date('j') }}</span>
                                        </section>
                                        <section class="moment">
                                            <span class='border-right'>AM</span>
                                            <span class=''>PM</span>
                                        </section>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for user in users %}

                        {% if showUsers %}
                            <section class="calendar-user col-2 border-right border-top">
                                <div class='d-flex align-items-center justify-content-center h-100'>
                                    <div class="text-wrap">
                                        <p class="text-center text-primary font-weight-bold mb-0">{{ user.username }}</p>
                                        <p class="text-center text-muted font-weight-bold mb-0 ">{{ user.job }}</p>
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                        
                        {% set scheduleDates = user|isWorking() %}
                        {% set assigned = [] %}
                        <div class="col-10 px-0">
                            <div class=''>
                                {% for assignation in user.assignations %}
                                    {% if assignation.project %}
                                        {% set assigned = assigned|merge([assignation.project.id]) %}
                                        {% set counter = assignation|calculateCounter(month) %}

                                        {% if counter != assignation.duration %}
                                            <div class="d-flex calendar_head">
                                                <div class="calendar-project px-2">
                                                    <h4 class="text-center text-secondary font-weight-bold mb-0">{{ assignation.project.name ?: 'No name' }}</h4>
                                                    <p class="text-center text-muted font-weight-bold mb-0">{{( assignation.project.client.name ?: '')|capitalize }}</p>
                                                </div>
                                                
                                                {% for date in dates %}
                                                    <div class='head-date border-left border-right'>
                                                            <section class='moment h-100'>
                                                                {% for key, demiDay in scheduleDates[date|date("l")] %}
                                                                    {% set title =  ("User : " ~ user.username ~ '\n' ~ 'Project : ' ~ assignation.project.name ~ '\n' ~ 'Client : ' ~ assignation.project.client.name ~ '\n' ~ 'Description : ' ~  assignation.project.description)|raw  %}
                                                                    {% if counter < assignation.duration and demiDay %}
                                                                        {% if date|date('Y/d/m') >= assignation.startAt|date('Y/d/m') %}
                                                                            {% set counter = counter + 0.5 %}
                                                                            <span class='border-right bg-primary' title="{{ title }}" data-toggle="modal" data-target="#modal_update_assignation_{{ assignation.id }}"></span>
                                                                        {% else %}
                                                                            <span class='border-right{% if today == date|date('d/m/Y') %} bg-secondary{% endif %}' title="{{ title }}"></span>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        {% if not demiDay %}
                                                                            <span class='bg-grey {% if loop.index != dates|length and key == "AM" %}border-right{% endif %}{% if today == date|date('d/m/Y') %} bg-secondary{% endif %}'></span>
                                                                        {% else %}
                                                                            <span class='{% if loop.index != dates|length and key == "AM" %}border-right{% endif %}{% if today == date|date('d/m/Y') %} bg-secondary{% endif %}'></span>
                                                                        {% endif %}
                                                                        
                                                                    {% endif %}
                                                                    
                                                                {% endfor %}
                                                            </section>
                                                        </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        <!-- Modal -->
                                        <div class="modal fade" id="modal_update_assignation_{{ assignation.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Update assignation informations</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="text-center" method="POST">
                                                        <input type="hidden" value="{{ assignation.id}}" name="assignation_id">
                                                        <label for="start_date_{{ assignation.id}}">Start at</label>
                                                        <input type="text" id="start_date_{{ assignation.id}}" name="startDate" value="{{ assignation.startAt|date('m/d/Y') }}" class="datepicker form-control text-center">

                                                        {% set durationId = 'assignation_duration_' ~ assignation.id %}
                                                        <label for="{{ durationId }}" class='mt-2'>Duration</label>
                                                        {% include 'Form/assignationNumber.html.twig' with {'value': assignation.duration, 'id': durationId, 'class': "duration-number col-12", 'name': 'duration', 'hidden': false} %}

                                                        <input type="submit" class="btn btn-primary mt-2" name="action" value="Update">
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                {% if user.assignations|length == 0 and not is_granted('ROLE_TEAM_MANAGER') %}
                                    <div class="d-flex calendar_head">
                                        <div class="calendar-project">
                                            <p class="text-muted text-center">Empty project</p>
                                            <p class="mb-0">&nbsp</p>
                                        </div>

                                        {% for date in dates %}
                                            <div class='head-date border-left border-right'>
                                                <section class='moment h-100'>
                                                    <span class='border-right {% if scheduleDates[date|date("l")].AM  == false %}bg-grey{% elseif today == date|date('d/m/Y') %}bg-secondary{% endif %}'></span><span class="{% if scheduleDates[date|date("l")].PM  == false %}bg-grey{% elseif today == date|date('d/m/Y') %}bg-secondary{% endif %}"></span>
                                                </section>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        
                            <div class=''>
                                {% if is_granted('ROLE_TEAM_MANAGER') and newProject %}
                                    <div class="d-flex calendar_head">
                                        <section class="calendar-project py-1">
                                            <form action="" method='POST' class="row justify-content-center px-3">
                                                
                                                <div class="form-group mb-0 col-8">
                                                    <select name='project' class="form-select form-control" style="">
                                                        <option selected value=''>Select project</option>
                                                        {% for client in clients %}
                                                            {% for project in client.projects %}
                                                                {% if project.id not in assigned %}
                                                                    <option value="{{ project.id }}">{{ client.name ?: "Unknown" }} - {{ project.name ?: "Anonymous" }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <input type="hidden" name="startDate">
                                                {% include 'Form/assignationNumber.html.twig' with {'value': 1, 'id': '', 'class': "duration-number col-12", 'name': 'duration', 'hidden': true} %}

                                                <input type="hidden" name='user' value="{{ user.id }}">
                                                <button type="submit" class="btn btn-primary col-auto">Add</button>
                                            </form>
                                        </section>

                                        {% for date in dates %}
                                            <div class='head-date border-left border-right'>
                                                <section class='moment h-100'>
                                                    {% if scheduleDates[date|date("l")].AM  == false %}
                                                        <span class='border-right bg-grey'>&nbsp</span>
                                                    {% elseif today == date|date('d/m/Y') %}
                                                        <span class='border-right btn btn-light text-primary btn-sm rounded-0' date-value="{{ date|date('d/m/Y') }}"><i class="fas fa-plus"></i></span>
                                                    {% else %}
                                                        <span class='border-right btn btn-light text-primary btn-sm rounded-0' date-value="{{ date|date('d/m/Y') }}"><i class="fas fa-plus"></i></span>
                                                    {% endif %}

                                                    {% if scheduleDates[date|date("l")].PM  == false %}
                                                        <span class='border-right bg-grey'>&nbsp</span>
                                                    {% elseif today == date|date('d/m/Y') %}
                                                        <span class='border-right btn btn-light text-primary btn-sm rounded-0' date-value="{{ date|date('d/m/Y') }}"><i class="fas fa-plus"></i></span>
                                                    {% else %}
                                                        <span class='border-right btn btn-light text-primary btn-sm rounded-0' date-value="{{ date|date('d/m/Y') }}"><i class="fas fa-plus"></i></span>
                                                    {% endif %}
                                                    <!--
                                                    {% if not scheduleDates[date|date("l")].PM %}bg-grey{% elseif today == date|date('d/m/Y') %}bg-secondary{% endif %}
                                                    <span class='border-right text-secondary {% if scheduleDates[date|date("l")].AM  == false %}bg-grey{% elseif today == date|date('d/m/Y') %}bg-secondary{% endif %}'><i class="fas fa-plus"></i></span><span class="text-secondary {% if loop.index != dates|length %}border-right{% endif %} {% if not scheduleDates[date|date("l")].PM %}bg-grey{% elseif today == date|date('d/m/Y') %}bg-secondary{% endif %}"><i class="fas fa-plus"></i></span>
                                                    -->
                                                </section>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="d-flex pt-2 justify-content-end legend">
                <p class="mr-2"><i class="bg-primary border border-primary mr-2">&nbsp</i>On project</p>
                <p class="mr-2"><i class="border mr-2">&nbsp</i>Available</p>
                <p class="mr-2"><i class="bg-grey border mr-2">&nbsp</i>Unavailable</p>
                <p class="mr-2"><i class="bg-secondary border mr-2">&nbsp</i>Current date</p>
            </div>
        </div>
    </div>
</div>