{% extends 'base.html.twig' %}

{% block title %}{% trans with {'%name%': user.userName|capitalize} %}Admin %name% profile{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Admin': 'admin_index',
        'Users': 'admin_users',
        "User Profile": ''
        } 
    %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="px-4">
        <h1 class="text-primary text-center">{% trans with {'%name%': user.userName|capitalize} %}User %name% profile{% endtrans %}</h1>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="bg-light border p-2 sticky-top">
                    <div class="row">
                        <div class="col-12 mb-4">
                            {% if not user.headshot %}
                                <div class="border mx-auto d-flex text-muted mx-auto align-items-center justify-content-center profile">
                                    <i class="far fa-user-circle fa-2xl"></i>
                                </div> 
                            {% else %}
                                <div class="profile border mx-auto" style="">
                                    <img src="{{ asset('uploads/brochures') }}/{{ user.headshot }}" title="{% trans %}Logo profile{% endtrans %}">
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-6">
                            <p>{% trans %}First/last name{% endtrans %} :</p>
                        </div>
                        <div class="col-6">
                            <p class="text-primary">{{ user.firstName }} {{ user.lastName }}</p>
                        </div>

                        <div class="col-6">
                            <p>{% trans %}Email{% endtrans %}:</p>
                        </div>
                        <div class="col-6">
                            <p class="text-primary">{{ user.email }}</p>
                        </div>

                        <div class="col-6">
                            <p>{% trans %}Job{% endtrans %} :</p>
                        </div>
                        <div class="col-6">
                            <p class="text-primary">{{ user.job }}</p>
                        </div>

                        <div class="col-12">
                            <p>{% trans %}Role{% endtrans %} :</p>
                        </div>
                        <div class="col-12 d-inline-block">
                            <div class="btn-group btn-group-sm mb-2 mx-1 text-wrap align-content-stretch">
                                {% for role in user.roles %}
                                    <p class="bg-secondary rounded mb-2 text-nowrap mr-2 pl-2 mb-0 text-dark">
                                        {{ role|trans|replace({'_': ' '})|replace({'ROLE': ''})|lower }}
                                        <a class="btn btn-secondary" title="{% trans %}Remove role{% endtrans %}" href="{{ path('admin_user_remove_role', {'id': user.id, 'role': role}) }}"><i class="fas fa-minus"></i></a>
                                    </p>
                                {% endfor %}
                                {{ block('role_form')}}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-12 col-md-8">
                <h3 class="text-secondary line-secondary mb-3 d-flex justify-content-between"><span>Calendar</span></h3>
                {% include "Calendar/view.html.twig" with {'users': [user], 'showUsers': false} %}

                <div class="row">
                    <h4 class="col-12">{% trans %}User assigned projects{% endtrans %}</h4>
                    {% for assignation in user.assignations %}
                        <div class="col-2 mb-2">
                            <a class="btn btn-light btn-block" href="{{ path('admin_project_view', {id: assignation.project.id}) }}">{{ assignation.project.name ?: 'Anonymous'|trans }}</a>
                        </div>
                    {% endfor %}
                        
                    
                </div>

                <h2 class="text-secondary line-secondary mb-3 d-flex justify-content-between" id="shedules_part">
                    <span>{% trans %}Schedules{% endtrans %}</span>
                </h2>

                {% include "User/Account/scheduleView.html.twig" with {'user': user} %}

                <h2 class="text-secondary line-secondary mb-3 d-flex justify-content-between mt-2" id="shedules_part">
                    <span>{% trans %}Absences{% endtrans %}</span>
                </h2>

                
                <div class="row">
                    {% if user.absences|length == 0 %}
                        <h2 class="text-muted col-12 text-center">{% trans %}No absence created{% endtrans %}</h2>
                    {% endif %}
                    {% for absence in user.absences %}
                        <div class="col-12 col-lg-3 text-center">
                            <div class="bg-light rounded p-2">
                                <h4 class='text-primary'>{{ absence.type|trans }}</h4>
                                <p>{{ absence.from|date('d/m/Y') }} <i class="fas fa-arrow-right"></i> {{ absence.to|date('d/m/Y') }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block role_form %}
    <div class=''>
        <div class="dropdown float-left mr-2">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus"></i>
            </button>

            {% set roleLeft = true %}
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for rolename in constant('App\\Entity\\User\\User::ROLE_LIST') %}
                    {% if rolename not in user.roles %}
                        <a class="dropdown-item" href="{{ path('admin_user_add_role', {'id': user.id, 'role': rolename}) }}">{{ rolename|trans|replace({'_': ' '})|replace({'ROLE': ''})|lower }} {% trans %}Add role{% endtrans %}</a>
                        {% set roleLeft = false %}
                    {% endif %}
                {% endfor %}
                {% if roleLeft %}
                    <p class="text-muted px-2 mb-0">{% trans %}No role left{% endtrans %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}