<nav class="navbar fixed-top pb-0 justify-content-between text-center justify-content-center navbar-expand-lg navbar-light bg-light align-items-baseline">
    <div>
        <a class="navbar-brand"  href="{{ path('app_index') }}">
            <img src="{{ asset('Pics/logo.png') }}" alt="Logo" class='img-logo'>
        </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="{% trans %}Toggle navigation{% endtrans %}">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% endif %}
    </div>
    

    

    <div class="collapse navbar-collapse text-center" id="navbarContent">
        <ul class="navbar-nav">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item">
                    <a href="{{ path('app_calendar_index') }}" class="nav-link h-100 pt-3" href="{{ path('app_calendar_index') }}">{% trans %}Calendar{% endtrans %}</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="">
        <ul class="navbar-nav flex-row">
            <form class="form-inline" method="POST">
                {% if app.request.getLocale() == 'fr' %}
                    <button class="btn btn-light text-primary font-weight-bold rounded-0 text-center border-right" name="locale_language" value="en" type="submit"><small>EN</small></button>
                    <button class="btn btn-light text-primary font-weight-bold rounded-0 disabled border-left" disabled name="locale_language" value="fr" type="submit"><small>FR</small></button>
                {% else %}
                    <button class="btn btn-light text-primary font-weight-bold rounded-0 text-center disabled border-right" disabled name="locale_language" value="en" type="submit"><small>EN</small></button>
                    <button class="btn btn-light text-primary font-weight-bold rounded-0 border-left" name="locale_language" value="fr" type="submit"><small>FR</small></button>
                {% endif %}
            </form>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user mr-2"></i>
                    </a>
                    <div class="dropdown-menu right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('my_account') }}">{% trans %}My account{% endtrans %}</a>
                        <a class="dropdown-item" href="{{ path('my_schedule', {'id': app.user.id})}}">{% trans %}Change schedules{% endtrans %}</a>
                        <a class="dropdown-item" href="{{ path('user_update') }}">{% trans %}Update my profile{% endtrans %}</a>
                        <a class="dropdown-item" href="{{ path('new_absence')}}">{% trans %}Create new absence{% endtrans %}</a>

                        <div class="dropdown-divider"></div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item text-primary" href="{{ path('admin_index') }}">{% trans %}Go to admin{% endtrans %}</a>
                        {% endif %}
                        <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i></a>
                </li>
            {% endif %}
            
        </ul>
    </div>
</nav>