{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index',
        'Account': 'my_account',
        'Reset Password request': ''
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="col-lg-8 offset-lg-2 col-12 h-100 d-flex align-items-center justify-content-center flex-column text-center bg-light rounded">
        <h1 class='text-secondary'>{% trans %}Reset your password{% endtrans %}</h1>

        <div class="mb-4">
            <small class="text-muted">
                {% trans %}Enter your email address, and we will send you a link to reset your password{% endtrans %}.
            </small>
        </div>
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            

            <button class="btn btn-primary">{% trans %}Send password reset email{% endtrans %}</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
