{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index',
        'Register': ''
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="p-3 bg-light rounded">
        <h1 class="text-secondary text-left col-12 text-center mt-2">{% trans %}Create an account{% endtrans %}</h1>
        <p class="text-primary text-center col-12">{% trans %}To create an account, I indicate my personal informations{% endtrans %}.</p>
        <div class="col-12">
            {{ form_start(form) }}
                <div class="col-lg-4 col-12">
                    {% include "Form/FileInputType.html.twig" with {'input': form.headshot} %}
                </div>

                <div class="col-lg-8 col-12">
                    {{ form_row(form.username) }}

                    <div class="row">
                        <div class="col-12 col-lg-6">{{ form_row(form.firstName) }}</div>
                        <div class="col-12 col-lg-6">{{ form_row(form.lastName) }}</div>

                        {% if form.email is defined %}
                            <div class="col-12 col-lg-6">{{ form_row(form.email) }}</div>
                        {% endif %}
                        <div class="col-12 col-lg-6">{{ form_row(form.job) }}</div>

                        <div class="col-12">
                            {{ form_row(form.password) }}
                        </div>

                        <div class="col-6">
                            {{ form_widget(form.agreeTerms) }}
                        </div>

                        <div class="col-6 text-right">
                            <a href="{{ path('login') }}" class="btn btn-link">{% trans %}Already got an account{% endtrans %}</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-2 text-left">
                    <p class="mb-0">
                        <a class="btn btn-outline-dark" href="{{ path('app_index') }}"><i class="fas fa-chevron-left mr-2"></i>{% trans %}Return Homepage{% endtrans %}</a>
                    </p>
                </div>
                <div class="col-6 mt-2 text-right">
                    <button type="submit" class="btn btn-primary">{% trans %}Validate{% endtrans %}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}