{% extends 'base.html.twig' %}

{% block title %}Admin home{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Admin': 'admin_index'
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}

    {{ dump(app.user) }}

    {% if app.user.company %}
        <h1 class="text-primary font-weight-bold mb-0">{{ app.user.company.name ?: "Anonymous" }} Numbers</h1>
    {% endif %}
    
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-6 col-lg-3 mb-2">
            <a class="text-center btn-block btn btn-light" href="{{ path('admin_teams')}}">
                <h2 class="text-secondary display-2 animate-number">
                    {{ teams|length }}
                </h2>
                <p class="font-weight-bold text-secondary">TEAMS</p>
            </a>
        </div>

        <div class="col-6 col-lg-3 mb-2">
            <a class="text-center btn-block btn btn-light" href="{{ path('admin_users')}}">
                <h2 class="text-secondary display-2 animate-number">
                    {{ Users|length }}
                </h2>
                <p class="font-weight-bold text-secondary">USERS</p>
            </a>
        </div>

        <div class="col-6 col-lg-3 mb-2">
            <a class="text-center btn-block btn btn-light" href="{{ path('admin_clients')}}">
                <h2 class="text-secondary display-2 animate-number">
                    {{ Clients|length }}
                </h2>
                <p class="font-weight-bold text-secondary">CLIENTS</p>
            </a>
        </div>

        <div class="col-6 col-lg-3 mb-2">
            <a class="text-center btn-block btn btn-light" href="{{ path('admin_absences_index') }}">
                <h2 class="text-secondary display-2 animate-number">
                    {{ projects|length }}
                </h2>
                <p class="font-weight-bold text-secondary">PROJECTS</p>
            </a>
        </div>

        <div class="col-6 col-lg-3 mb-2">
            <a class="text-center btn-block btn btn-light" href="{{ path('admin_absences_index') }}">
                <h2 class="text-secondary display-2 animate-number">
                    {{ absences|length }}
                </h2>
                <p class="font-weight-bold text-secondary">ABSENCES</p>
            </a>
        </div>

        <div class="col-6 col-lg-3 mb-2">
            <a class="text-center btn-block btn btn-light" href="{{ path('admin_invitations')}}">
                <h2 class="text-secondary display-2 animate-number">
                    {{ app.user.company.invitations|length }}
                </h2>
                <p class="font-weight-bold text-secondary">INVITATIONS</p>
            </a>
        </div>
    </div>
{% endblock %}