{% extends 'base.html.twig' %}

{% block title %}{% trans %}Admin Users{% endtrans %}{% endblock %}

{% block body %}
    <div class='w-100'>
        <div>
            {{ form_start(form) }}
            {{ form_end(form)}}
        </div>
        
        <div class='rounded bg-light py-2 px-4 h-100'>
            <h1 class='text-secondary px-2'>{% trans %}Invitations list{% endtrans %}</h1>
            {% if invitations|length == 0 %}
                <h2 class="text-muted text-center">{% trans %}No Invitation created.{% endtrans %}</h2>
            {% endif %}
            {% for invitation in invitations %}
                <div class='row bg-light bg-white border py-3 mb-2'>
                    <div class='col-3 text-dark'>{{ invitation.email }}</div>
                    <div class='col-2 text-primary'>{{ invitation.code }}</div>
                    <div class='col-6 text-truncate'>{{ url('app_invitation_validate', {'id': invitation.id}) }}</div>
                    <div class='col-1'>
                        {% if invitation.isValid %}
                            <span class='text-success'>{% trans %}Yes{% endtrans %}</span>
                        {% else %}
                            <span class='text-danger'>{% trans %}No{% endtrans %}</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}