{% extends 'base.html.twig' %}

{% block title %}{% trans %}Login on Planer{% endtrans %}{% endblock %}

{% block breadcrumb %}
    {% set content = {
        'Home': 'app_index',
        'login': ''
        } %}

    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 col-12 offset-lg-2 h-100 text-center rounded p-4 bg-light">
            <h1 class="text-secondary">{% trans %}Login to account{% endtrans %}</h1>
            <p>{% trans %}To use Planer, login with username and password.{% endtrans %}</p>

            {{ form_start(form) }}
                {{ form_row(form.userName) }}
                {{ form_row(form.password) }}
                

                <p class="text-right">
                    <a href="{{ path('app_forgot_password_request') }}" class="">{% trans %}Forgot password{% endtrans %}</a>
                    |
                    <a href="{{ path('user_email_request') }}" class="">{% trans %}I need checking email{% endtrans %}</a>
                </p>

                

                <div class="d-flex justify-content-between align-items-center mt-4">
                    <a href="{{ path('register') }}" class="btn btn-outline-dark">{% trans %}Create account{% endtrans %}</a>
                    {{ form_row(form.login) }}
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {{ form_end(form)}}

            
        </div>
    </div>
{% endblock %}
